.container-fluid {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
}

.img {
    margin: 15px 0;
    width: 100%;
    height: 200px;
    background-color: #000000;
    display: flex;
    overflow: hidden;
    align-items: center;
}

#gif {
    margin: 15px 0;
    width: 100%;
}

.weather ul {
    margin: 15px 0;
    padding: 0;
}

.weather ul li {
    font-weight: 600;
    list-style: none;
    letter-spacing: 1px;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.weather ul li span {
    color: black;
    font-weight: 400 !important;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.col-md-4 {
    background-color: #f0f0f0;
    height: 100vh;
}

.row>* {
    flex-shrink: 0;
    width: 30%;
    max-width: 100%;
}

.col-md-8 {
    flex: 0 0 auto;
    width: 70%;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.btnEdit {
    background-color: #ffc107;
    color: black;
    border-radius: 5px;
    padding: 5px 7px;
    border-color: #ffc107;
}

.btnSubmit {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 5px 7px;
    border-color: #007bff;
}
.btnDone{
    background-color: #2bff00;
    color: white;
    border-radius: 5px;
    padding: 5px 7px;
    border-color: #2bff00;
}

.btnDelete {
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
    padding: 5px 7px;
    border-color: #dc3545;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.375rem;
}

.list-group-item {
    list-style: none;
    border: 1px solid #dadada;
    border-radius: 5px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
}